<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Blood Donation System </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- Favicons -->
  <link href="/public/assets/img/title.jpg" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/assets/css/style.css" rel="stylesheet">
  <!-- Style Section -->
  <style>
    section {
      padding: 250px 0;
      overflow: hidden;
    }
  </style>
</head>


</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">About Us</h2>
        <p class="animate__animated animate__fadeInUp">The gift of blood helps save lives, and the demand for blood and
          blood products is great. Every 2 seconds, someone in the U.S. needs blood, and more than 50,000 units of blood
          are needed each year at Cedars-Sinai alone. Learn more about blood types and compatibility, different ways to
          donate and the need for lifesaving blood so you can make an informed decision about donation. </p>
        <a href="/users/readMore" class="btn-get-started animate__animated animate__fadeInUp scrollto">About Us More</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Types of Donation</h2>
        <p class="animate__animated animate__fadeInUp"> Whole Blood - Platelets - Plasma - Double Red Cells - Donating
          For Yourself (Autologous Donation) - Donating For Someone (Directed Donation) </p>
        <a href="/users/readMore" class="btn-get-started animate__animated animate__fadeInUp scrollto">About Us More</a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Overview</h2>
        <p class="animate__animated animate__fadeInUp">Blood donation is a voluntary procedure that can help save lives.
          There are several types of blood donation. Each type helps meet different medical needs</p>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
          <img src="assets/img/about-bg.png" class="img-fluid" alt="">
          <a href="https://youtu.be/WGZycNfI89I" class="glightbox play-btn"></a>
        </div>
        <div class="col-lg-6 content order-last  order-lg-first">
          <h3>About Us</h3>
          <p>
            According to the American Cancer Society, more than 1.8 million people are expected to be diagnosed with
            cancer in 2020. Many of them will need blood, sometimes daily, during their chemotherapy treatment.
          </p>
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-diagram-3"></i>
              <div>
                <h5>Whole Blood</h5>
                <p>Whole blood is the most flexible type of donation. It can be transfused in its original form, or used
                  to help multiple people when separated into its specific components of red cells, plasma and
                  platelets.</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-fullscreen-exit"></i>
              <div>
                <h5>Platelets</h5>
                <p>Platelets are tiny cells in your blood that form clots and stop bleeding. Platelets are most often
                  used by cancer patients and others facing life-threatening illnesses and injuries.</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bxl-bing"></i>
              <div>
                <h5>Plasma</h5>
                <p>During an AB Elite donation, you give plasma, a part of your blood used to treat patients in
                  emergency situations.</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-layer"></i>
              <div>
                <h5>Double Red Cells</h5>
                <p>During a Power Red donation, you give a concentrated dose of red cells, the part of your blood used
                  every day for those needing transfusions as part of their care.</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-file"></i>
              <div>
                <h5>Donating For Yourself (Autologous Donation)</h5>
                <p>Donating blood for your own elective surgery requires that an order from your doctor be faxed to the
                  Blood Donor Services team at 310-423-0174.<br>
                  Your most recent donation must have been made at least 5 days before your scheduled procedure.<br>
                  For more information, call 310-423-4170..</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-broadcast"></i>
              <div>
                <h5>Donating For Someone (Directed Donation) </h5>
                <p>Friends and family members can donate blood for their loved ones.<br>
                  Directed donations should be scheduled no later than 7 business days before the patient's blood
                  transfusion.<br>
                  To arrange a directed donation, the patient's attending physician should contact the Blood Donor
                  Services team at 310-423-2414.<br>
                  To schedule an appointment, call 310-423-4170.<br>
                  If you've already donated for a particular patient and want to know if your donation is suitable for
                  the intended recipient, call 310-423-5417.</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-broadcast"></i>
              <div>
                <h5>Donating For Someone (Directed Donation) </h5>
                <p>Friends and family members can donate blood for their loved ones.<br>
                  Directed donations should be scheduled no later than 7 business days before the patient's blood
                  transfusion.<br>
                  To arrange a directed donation, the patient's attending physician should contact the Blood Donor
                  Services team at 310-423-2414.<br>
                  To schedule an appointment, call 310-423-4170.<br>
                  If you've already donated for a particular patient and want to know if your donation is suitable for
                  the intended recipient, call 310-423-5417.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  <!-- ======= Footer ======= -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- 
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/aboutUs">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/services">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/signIn">SignIn</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> time saving</li>
              <li><i class="bx bx-chevron-right"></i> Provide locations</li>
              <li><i class="bx bx-chevron-right"></i> User information</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Cairo Street <br>
              Helwan, NY 7<br>
              Egypt <br><br>
              <strong>Phone:</strong> +2 01143363912<br>
              <strong>Email:</strong> Example@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Us</h3>
            <p>The gift of blood helps save lives, and the demand for blood and blood products is great. Every 2
              seconds, someone in the U.S. needs blood, and more than 50,000 units of blood are needed each year at
              Cedars-Sinai alone. Learn more about blood types and compatibility, different ways to donate and the need
              for lifesaving blood so you can make an informed decision about donation.</p>
            <div class="social-links mt-3">
              <a href="https://www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.skype.com" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="https://www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="/public/assets/vendor/aos/aos.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>

  </body>

</html>