<div class="scroller"></div>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Donor</span></h2>
        <p class="animate__animated animate__fadeInUp">Blood donation is a vital part of worldwide healthcare. It
          relates to blood transfusion as a life-sustaining and life-saving procedure as well as a form of therapeutic
          phlebotomy as a primary medical intervention. Over one hundred million units of blood are donated each year
          throughout the world.</p>
        <a href="/users/readMore" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Whole blood donation</h2>
        <p class="animate__animated animate__fadeInUp">Whole blood donation is the most common type of blood donation.
          During this donation, you donate about a pint (about half a liter) of whole blood. The blood is then
          separated into its components — red cells, plasma and sometimes platelets . . .</p>
        <a href="/users/readMore" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Overview</h2>
        <p class="animate__animated animate__fadeInUp">Blood donation is a voluntary procedure that can help save
          lives. There are several types of blood donation. Each type helps meet different medical needs</p>
        <a href="/users/readMore" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Icon Boxes Section ======= -->
  <section id="icon-boxes" class="icon-boxes">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-bing"></i></div>
            <h4 class="title"><a href="">Whole Blood Donation</a></h4>
            <p class="description">
              Donation frequency: Every 56 days, up to 6 times a year.<br>
              You must be in good health and feeling well.<br>
              You must be at least 16 years old in most states.<br>
              You must weigh at least 110 lbs.....</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Power Red Donation</a></h4>
            <p class="description">
              Donation frequency: Every 112 days, up to 3 times/year,
              You must be in good health and feeling well,
              Male donors+ must be at least 17 years old in most states, at least 5'1" tall and weigh at least 130 lbs,
              Female donors+ must be at least 19 years old, at least 5'3" tall and weigh at least 150 lbs....</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">platelet Donation</a></h4>
            <p class="description">
              Donation frequency: Every 7 days, up to 24 times/year,
              You must be in good health and feeling well,
              You must be at least 17 years old in most states,
              You must weigh at least 110 lbs....</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4 class="title"><a href="">AB Elite Plasma Donation</a></h4>
            <p class="description">
              Donation frequency: Every 28 days, up to 13 times/year,
              You must have type AB blood,
              You must be in good health and feeling well*,
              You must be at least 17 years old,
              You must weigh at least 110 lbs.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Icon Boxes Section -->
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <p>The gift of blood helps save lives, and the demand for blood and blood products is great. Every 2 seconds,
          someone in the U.S. needs blood, and more than 50,000 units of blood are needed each year at Cedars-Sinai
          alone. Learn more about blood types and compatibility, different ways to donate and the need for lifesaving
          blood so you can make an informed decision about donation. </p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            <b>Types of Donation</b>
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Whole Blood </li>
            <li><i class="ri-check-double-line"></i> Platelets </li>
            <li><i class="ri-check-double-line"></i> Plasma </li>
            <li><i class="ri-check-double-line"></i> Double Red Cells </li>
            <li><i class="ri-check-double-line"></i> Donating For Yourself (Autologous Donation) </li>
            <li><i class="ri-check-double-line"></i> Donating For Someone (Directed Donation) </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            The Red Cross provides about 40% of our nation’s blood and blood components, all from generous volunteer
            donors. But supply can’t always meet demand because only about 3% of age-eligible people donate blood
            yearly. Each new donor helps us meet patient needs.
          </p>
          <a href="/users/aboutUs" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-title">
        <h2>Instructions for donating blood</h2>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"></i>
            <h3>Overview</h3>
            <p>Donating blood is a voluntary action that can help save lives. There are several types of blood donation.
              Each type helps meet different medical needs Whole blood donation is the most common type of blood
              donation. During this type of donation, you donate approximately half a liter of whole blood. The blood is
              then separated into its components: red blood cells, plasma, and sometimes platelets<br> .....</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"></i>
            <h3>apheresis</h3>
            <p>During apheresis, you'll be connected to a machine that collects and separates the different blood
              components. These blood components include red blood cells, plasma, and platelets. Then the machine works
              to return the remaining blood components to your body.

              In the case of a platelet donation (thrombopheresis), only the platelets are collected. Platelets are
              cells that help stop bleeding by forming clumps and blockages in blood vessels (thrombosis)</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Why is this done?</h3>
            <p> You must agree to have a blood sample drawn from you for the purpose of giving it to another person who
              needs a blood transfusion.

              Millions of people need blood transfusions annually. Some may need blood while they are undergoing
              surgery. Others rely on it after an accident or a disease that requires access to some blood components.
              Donating blood allows all of this. There is no substitute for human blood; Therefore, all blood
              transfusions use blood from donors</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="ri-discuss-line icon"></i>
            <h3>Risks</h3>
            <p> Donating blood is a safe process. New, sterile, single-use kits are used for each donor. Therefore,
              there is no risk of blood transmission when donating blood.

              Most healthy adults can safely donate about a pint without any health risks. Within a few days of donating
              blood, your body will replace the lost fluids. After two weeks, your body will replace the lost red blood
              cells</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <i class="ri-discuss-line icon"></i>
            <h3>How do you prepare?</h3>
            <p>Eligibility requirements <br>
              To be eligible to donate whole blood, plasma or platelets, the following conditions must be met:
              <br>
              To be healthy.<br>
              Be at least 16 or 17 years old depending on the law in the state where you live. Some states allow legal
              minors to donate with parental consent. Although there is no maximum legal age, policies may vary between
              individual donation centers.<br>
              You weigh at least 110 lbs (approximately 50 kg).<br>
              Be able to pass physical and health history assessments.<br>
              Eligibility requirements vary slightly for different types of blood donation
            </p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <i class="ri-discuss-line icon"></i>
            <h3>Food and medicine</h3>
            <p> Before you donate blood:<br>

              Get plenty of sleep the night before your donation.<br>
              Eat a healthy meal before donating. Avoid fatty foods, such as hamburgers, french fries, or ice cream.<br>
              Drink plenty of water before donating.<br>
              Wear a shirt with roll-up sleeves.<br> .....</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact Us</h2>
        <p>Need Help? <span>Contact Us</span></p>
      </div>

      <div class="mb-3">
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" allowfullscreen></iframe>
      </div><!-- End Google Maps -->

      <div class="row gy-4">

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Our Address</h3>
              <p>A108 Cairo Street, Helwan, NY 7</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>Example@gmail.com</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+02 01143363912</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Opening Hours</h3>
              <div><strong>Mon-Sat:</strong> 11AM - 23PM;
                <strong>Sunday:</strong> Closed
              </div>
            </div>
          </div>
        </div><!-- End Info Item -->

      </div>
      <form method="POST" action="/" class="email-form p-3 p-md-4" autocomplete="off">
        <%- include('partials/messages') %>
          <% if (authenticated) { %>
            <div class="row">
              <div class="col-xl-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required
                  value="<%= user.name + user.email %>" style="display: none;">
              </div>
              <div class="col-xl-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required
                  value="<%= user.email %>" style="display: none;">
              </div>
              <% } else { %>
                <div class="row">
                  <div class="col-xl-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-xl-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                  <% } %>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
      </form>
      <!--End Contact Form -->
    </div>
  </section>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- 
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/aboutUs">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/services">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/signIn">SignIn</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> time saving</li>
              <li><i class="bx bx-chevron-right"></i> Provide locations</li>
              <li><i class="bx bx-chevron-right"></i> User information</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Cairo Street <br>
              Helwan, NY 7<br>
              Egypt <br><br>
              <strong>Phone:</strong> +2 01143363912<br>
              <strong>Email:</strong> Example@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Us</h3>
            <p>The gift of blood helps save lives, and the demand for blood and blood products is great. Every 2
              seconds, someone in the U.S. needs blood, and more than 50,000 units of blood are needed each year at
              Cedars-Sinai alone. Learn more about blood types and compatibility, different ways to donate and the need
              for lifesaving blood so you can make an informed decision about donation.</p>
            <div class="social-links mt-3">
              <a href="https://www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.skype.com" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="https://www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="/public/assets/vendor/aos/aos.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>

  </body>

  </html>