<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Blood Donation System </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/public/assets/img/title.jpg" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/assets/css/read more.css" rel="stylesheet">

</head>

<body>
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>All the details about anything you want to know</h2>
        <p>WHOLE BLOOD DONATION - POWER RED DONATION - Platelet Donation - PLASMA DONATION - What can you expect -
          Concerns about novel coronavirus disease (COVID-19) - during the procedure - After the operation</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Types of Blood Donations</h3>
          <div class="resume-item pb-0">
            <h4>Whole Blood Donation</h4>
            <p><em>Whole blood is the most flexible type of donation. It can be transfused in its original form, or used
                to help multiple people when separated into its specific components of red cells, plasma and
                platelets.</em></p>
            <ul>
              <li>Who it helps: Whole blood is frequently given to trauma patients and people undergoing surgery.</li>
              <li>Time it takes: About 1 hour</li>
              <li>Ideal blood types: All blood types</li>
              <li>Donation frequency: Every 56 days, up to 6 times a year</li>
            </ul>
          </div>

          <h3 class="resume-title">Power Red Donation</h3>
          <div class="resume-item">
            <h4>Power Red Donation</h4>
            <p>During a Power Red donation, you give a concentrated dose of red cells, the part of your blood used every
              day for those needing transfusions as part of their care. This type of donation uses an automated process
              that separates your red blood cells from the other blood components, and then safely and comfortably
              returns your plasma and platelets to you.

              With just a little extra time at your appointment, you can donate more red cells and increase your impact
              on patients in need.</p>
            <ul>
              <li>Who it helps: Red cells from a Power Red donation are typically given to trauma patients, newborns and
                emergency transfusions during birth, people with sickle cell anemia, and anyone suffering blood loss.
              </li>
              <li>Time it takes: About 1.5 hours</li>
              <li>Ideal blood types: O positive, O negative, A negative, and B negative</li>
              <li>Donation frequency: Every 112 days, up to 3 times/year</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Platelet Donation</h3>
          <div class="resume-item">
            <h4>Platelet Donation</h4>
            <p><em>Platelets are tiny cells in your blood that form clots and stop bleeding. Platelets are most often
                used by cancer patients and others facing life-threatening illnesses and injuries.

                In a platelet donation, an apheresis machine collects your platelets along with some plasma, returning
                your red cells and most of the plasma back to you. A single donation of platelets can yield several
                transfusable units, whereas it takes about five whole blood donations to make up a single transfusable
                unit of platelets.

                Platelets are collected at Red Cross donation centers only, and are not collected at blood drives.</em>
            </p>
            <ul>
              <li>Who it helps: Platelets are a vital element of cancer treatments and organ transplant procedures, as
                well as other surgical procedures.</li>
              <li>Time it takes: About 2.5-3 hours</li>
              <li>Ideal blood types: A positive, A negative, B positive, O positive, AB positive and AB negative</li>
              <li>Donation frequency: Every 7 days, up to 24 times/year</li>
            </ul>
          </div>

          <h3 class="resume-title">PLASMA DONATION</h3>
          <div class="resume-item">
            <h4>Plasma Donation</h4>
            <p><em>During an AB Elite donation, you give plasma, a part of your blood used to treat patients in
                emergency situations. AB plasma can be given to anyone regardless of their blood type. Plasma is
                collected through an automated process that separates plasma from other blood components, then safely
                and comfortably returns your red blood cells and platelets to you. AB Elite maximizes your donation and
                takes just a few minutes longer than donating blood.

                Plasma is collected at select Red Cross donation centers.</em></p>
            <ul>
              <li>Who it helps: AB Plasma is used in emergency and trauma situations to help stop bleeding. </li>
              <li>Time it takes: About 1 hour and 15 minutes</li>
              <li>Ideal blood types: AB positive, AB negative</li>
              <li>Donation frequency: Every 28 days, up to 13 times/year</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

        <div class="col-md-5">
          <img src="/public/assets/img/services details/services-1.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-7">
          <h3>What can you expect</h3>
          <p class="fst-italic">
            after the procedure<br>
            Before you can donate blood, you will be asked to fill out a confidential medical record. It includes
            questions about behaviors known to increase the risk of blood-borne infections.

            Because of the risk of blood-borne infections, not everyone is allowed to donate blood. The following are
            the categories that are not eligible to donate blood:
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Anyone who has used injectable drugs, steroids or any other substances
              without consulting a doctor during the last three months.</li>
            <li><i class="bi bi-check"></i>Men who have had sexual relations with other men in the last three months
            </li>
            <li><i class="bi bi-check"></i> Anyone with a congenital clotting factor deficiency.</li>
            <li><i class="bi bi-check"></i> Anyone who has had a positive HIV test.</li>
            <li><i class="bi bi-check"></i> Anyone who has had sex for money or drugs within the last 3 months.</li>
            <li><i class="bi bi-check"></i> Anyone who has had close contact with another person they live with, who has
              viral hepatitis, or who has had sex with him or her in the last 12 months</li>
            <li><i class="bi bi-check"></i> Anyone who has had babesiosis, a severe and rare tick-borne disease, or
              Chagas disease, which is a parasitic infection
              You will also undergo a quick physical examination. It is an examination that includes checking your blood
              pressure, pulse and temperature. A simple blood sample will be taken from the tip of your finger and used
              to check the oxygen-carrying components of your blood (hemoglobin level). If your hemoglobin concentration
              is within the healthy range and you meet all other screening requirements, you can donate blood.</li>
          </ul>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="/public/assets/img/services details/services-2.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1">
          <h3>Concerns about novel coronavirus disease (COVID-19)</h3>
          <p class="fst-italic">
            The virus that causes coronavirus disease 2019 (COVID-19) has not been shown to be transmitted through blood
            transfusions. However, the US Food and Drug Administration suggests that people who want to donate blood
            wait at least 10 days after a positive COVID-19 diagnostic test without symptoms, or at least 10 days after
            the symptoms of COVID-19 have completely resolved.

            Those found to have antibodies to the COVID-19 virus but who have not undergone a diagnostic test and never
            developed symptoms can donate without the need for a waiting period or a diagnostic test before donating.
          </p>
          <p>
            If you get a non-cloned, inactivated, or mRNA-based COVID-19 vaccine, you can donate blood without a waiting
            period. However, if a live-attenuated COVID-19 vaccine is available and you received it, wait 14 days after
            the vaccine before donating blood. And if you're not sure what kind of vaccine you've had, wait 14 days
            before donating blood.
          </p>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
        <div class="col-md-5">
          <img src="/public/assets/img/services details/services-3.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-7">
          <h3>during the procedure</h3>
          <ul>
            <li><i class="bi bi-check"></i>You will lie or sit in a comfortable chair that has an adjustable back and
              footrest with your arm extended on the armrest. If you prefer to use a specific arm or vein, make it clear
              to the person drawing the blood sample. A blood pressure cuff or tourniquet will be wrapped around your
              upper arm so that the veins fill with more blood. This also makes it easier to see the veins and get the
              needle into them. It also helps to fill the blood bag more quickly. Next, the skin on the inside of your
              elbow will be cleaned.</li>
            <li><i class="bi bi-check"></i>A new, sterile needle is inserted into a vein in your arm. This needle is
              attached to a thin plastic tube and blood bag. Once the needle is in place, you will have to clench your
              fist several times to help the blood flow from the vein. The blood is first collected into tubes for
              testing. After this procedure, the blood is left to fill approximately the half-liter bag. The needle is
              usually left in place for about 10 minutes. After you've finished donating, the needle is removed, a small
              patch is placed in its place, and a bandage is wrapped around your arm.</li>
            <li><i class="bi bi-check"></i>Another popular method of donating blood is apheresis. During apheresis,
              you'll be connected to a machine that can collect and separate different blood components, such as red
              blood cells, plasma and platelets. This process allows more than one blood component to be collected. But
              it takes longer than a normal blood donation, usually up to two hours.</li>
          </ul>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="/public/assets/img/services details/services-4.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1">
          <h3>After the operation</h3>
          <p class="fst-italic">
            After donating blood, you will be seated in an observation unit where you can relax and have a snack. After
            15 minutes have passed, you can leave. After donating blood:<br>

            Make sure to drink plenty of fluids.<br>
            Avoid strenuous physical activity or heavy lifting for about five hours.<br>
            If you feel dizzy, lie down with your feet up until the feeling goes away.<br>
            Keep the bandage dry and in place for five hours.<br>
            If you bleed after removing the bandage, apply pressure to the bleeding site and raise your arm until it
            stops.<br>
            In the event of a bruise, apply cold compresses to the area from time to time during the first 24 hours.<br>
            And try to add iron-rich foods to your diet to replace iron lost from donating blood.<br>
          </p>
          <p>
            Contact the blood donation center or the doctor in the following cases:<br>

            If you forgot to inform the Blood Donation Center of any important health information.<br>
            If you develop signs and symptoms associated with an illness, such as a fever, within several days after
            donating blood.<br>
            If you are diagnosed with COVID-19 within 48 hours after donating blood.<br>
          </p>
        </div>
      </div><!-- Features Item -->

    </div>
  </section><!-- End Features Section -->

  <!-- Vendor JS Files -->
  <script src="/public/assets/vendor/aos/aos.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>

</body>

</html>