<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Blood Donation System </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/title.jpg" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/assets/css/style.css" rel="stylesheet">
  <style>
    section {
      padding: 250px 0;
      overflow: hidden;
    }
  </style>
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Donor</span></h2>
          <p class="animate__animated animate__fadeInUp">Blood donation is a vital part of worldwide healthcare. It
            relates to blood transfusion as a life-sustaining and life-saving procedure as well as a form of therapeutic
            phlebotomy as a primary medical intervention. Over one hundred million units of blood are donated each year
            throughout the world.</p>
          <a href="/users/readMore" class="btn-get-started animate__animated animate__fadeInUp scrollto">Services
            More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Whole blood donation</h2>
          <p class="animate__animated animate__fadeInUp">Whole blood donation is the most common type of blood donation.
            During this donation, you donate about a pint (about half a liter) of whole blood. The blood is then
            separated into its components — red cells, plasma and sometimes platelets . . .</p>
          <a href="/users/readMore" class="btn-get-started animate__animated animate__fadeInUp scrollto">Services
            More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Overview</h2>
          <p class="animate__animated animate__fadeInUp">Blood donation is a voluntary procedure that can help save
            lives. There are several types of blood donation. Each type helps meet different medical needs</p>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-title">
        <h2>Instructions for donating blood</h2>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"></i>
            <h3>Overview</h3>
            <p>Donating blood is a voluntary action that can help save lives. There are several types of blood donation.
              Each type helps meet different medical needs Whole blood donation is the most common type of blood
              donation. During this type of donation, you donate approximately half a liter of whole blood. The blood is
              then separated into its components: red blood cells, plasma, and sometimes platelets<br> .....</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"></i>
            <h3>apheresis</h3>
            <p>During apheresis, you'll be connected to a machine that collects and separates the different blood
              components. These blood components include red blood cells, plasma, and platelets. Then the machine works
              to return the remaining blood components to your body.

              In the case of a platelet donation (thrombopheresis), only the platelets are collected. Platelets are
              cells that help stop bleeding by forming clumps and blockages in blood vessels (thrombosis)</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Why is this done?</h3>
            <p> You must agree to have a blood sample drawn from you for the purpose of giving it to another person who
              needs a blood transfusion.

              Millions of people need blood transfusions annually. Some may need blood while they are undergoing
              surgery. Others rely on it after an accident or a disease that requires access to some blood components.
              Donating blood allows all of this. There is no substitute for human blood; Therefore, all blood
              transfusions use blood from donors</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="ri-discuss-line icon"></i>
            <h3>Risks</h3>
            <p> Donating blood is a safe process. New, sterile, single-use kits are used for each donor. Therefore,
              there is no risk of blood transmission when donating blood.

              Most healthy adults can safely donate about a pint without any health risks. Within a few days of donating
              blood, your body will replace the lost fluids. After two weeks, your body will replace the lost red blood
              cells</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <i class="ri-discuss-line icon"></i>
            <h3>How do you prepare?</h3>
            <p>Eligibility requirements <br>
              To be eligible to donate whole blood, plasma or platelets, the following conditions must be met:
              <br>
              To be healthy.<br>
              Be at least 16 or 17 years old depending on the law in the state where you live. Some states allow legal
              minors to donate with parental consent. Although there is no maximum legal age, policies may vary between
              individual donation centers.<br>
              You weigh at least 110 lbs (approximately 50 kg).<br>
              Be able to pass physical and health history assessments.<br>
              Eligibility requirements vary slightly for different types of blood donation
            </p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <i class="ri-discuss-line icon"></i>
            <h3>Food and medicine</h3>
            <p> Before you donate blood:<br>

              Get plenty of sleep the night before your donation.<br>
              Eat a healthy meal before donating. Avoid fatty foods, such as hamburgers, french fries, or ice cream.<br>
              Drink plenty of water before donating.<br>
              Wear a shirt with roll-up sleeves.<br> .....</p>
            <a href="/users/servicesDetails" class="read-more"><span>Read More</span> <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- 
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/aboutUs">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/services">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/users/signIn">SignIn</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> time saving</li>
              <li><i class="bx bx-chevron-right"></i> Provide locations</li>
              <li><i class="bx bx-chevron-right"></i> User information</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Cairo Street <br>
              Helwan, NY 7<br>
              Egypt <br><br>
              <strong>Phone:</strong> +2 01143363912<br>
              <strong>Email:</strong> Example@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Us</h3>
            <p>The gift of blood helps save lives, and the demand for blood and blood products is great. Every 2
              seconds, someone in the U.S. needs blood, and more than 50,000 units of blood are needed each year at
              Cedars-Sinai alone. Learn more about blood types and compatibility, different ways to donate and the need
              for lifesaving blood so you can make an informed decision about donation.</p>
            <div class="social-links mt-3">
              <a href="https://www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.skype.com" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="https://www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="/public/assets/vendor/aos/aos.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>

</body>

</html>